/* @import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";
@import "https://unpkg.com/open-props/masks.corner-cuts.min.css"; */

@import "open-props/style";

/* @import "open-props/masks/corner-cuts"; */
@import "open-props/masks/edges";

@font-face {
  font-family: "BeVietnamPro";
  src: url("/fonts/BeVietnamPro-SemiBold.woff2") format("woff2"),
    url("/fonts/BeVietnamPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JakobHand";
  src: url("/fonts/jakob-handwriting.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Betelgeuse";
  src: url("/fonts/Betelgeuse.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zimmerman";
  src: url("/fonts/sf-zimmerman.regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nacho";
  src: url("/fonts/NACHOTL_.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
img {
  border-radius: 2px;
}
:root {
  --wrapper: min(100% - 3rem, 960px);
  --section-divider: 6rem;
  /* clrs */
  --coffee: #c0ffee;
  --color-dark: #333;
  --color-light: #eeede3;
  --color-brand-1: #f3f2be;
  --color-brand-2: #ef8338;
  --color-1: #00ffa3;
  --color-1-dark: oklch(from var(--color-1) calc(1 - 0.4) c h);
  --color-2: #ff8901;
  --color-3: #ff54d2;
  --color-4: #66a3e0;
  --color-4-dark: #3d64a0;
  --color-5: #69b8ae;
  --color-6: #f5eb55;
  --color-7: #ff6c89;
  --color-8: #6ea459;

  --size-fluid: clamp(1.125rem, 2.5vw, 1.5rem);
  --step-0: clamp(1.125rem, 1.0682rem + 0.2424vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2534rem + 0.4121vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4686rem + 0.6461vw, 1.9531rem);
  --step-3: clamp(1.944rem, 0.91rem + 4.4116vw, 4.2188rem);
  --step-4: clamp(2.3328rem, 0.5167rem + 7.7485vw, 6.3281rem);
}
:root {
  --shadow-color: 0deg 0% 65%;
  --shadow-elevation-low: 0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.35),
    0.9px 0.8px 1.3px -1.3px hsl(var(--shadow-color) / 0.33),
    2.2px 2px 3.3px -2.7px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-medium: 0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.37),
    1.7px 1.6px 2.6px -0.9px hsl(var(--shadow-color) / 0.35),
    4.4px 4px 6.5px -1.8px hsl(var(--shadow-color) / 0.34),
    10.9px 10px 16.2px -2.7px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high: 0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.39),
    3.3px 3px 4.9px -0.4px hsl(var(--shadow-color) / 0.38),
    6.5px 6px 9.7px -0.9px hsl(var(--shadow-color) / 0.37),
    11.5px 10.6px 17.1px -1.3px hsl(var(--shadow-color) / 0.36),
    20px 18.4px 29.8px -1.8px hsl(var(--shadow-color) / 0.36),
    33.2px 30.5px 49.4px -2.3px hsl(var(--shadow-color) / 0.35),
    52.6px 48.4px 78.3px -2.7px hsl(var(--shadow-color) / 0.34);
}
.flow > * + * {
  margin-top: var(--size-fluid-2, 1em);
}
.brand-color {
  color: var(--color-brand-2);
}
html {
  font-size: 1rem;
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  font-weight: normal;
  /* overflow-x: clip; */
}

body {
  background-color: var(--color-brand-2);
  background-color: var(--color-light);
  color: #333;
  /* background-color: #fff; */
}
/* main {
  width: min(100% - 2rem, 1268px);
  margin-inline: auto;
} */
p {
  max-inline-size: var(--size-content-3);
  font-size: var(--step-0);
  text-wrap: pretty;
}
ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  text-wrap: balance;
}
a:any-link,
a:visited {
  color: currentColor;
  /* color: var(--color-brand-2); */
  /* font-weight: bold; */
  /* text-transform: lowercase; */
  text-decoration: none;
  /* text-decoration-color: var(--color-1);
  text-decoration-thickness: 4px;
  text-underline-offset: 0.4em; */

  /* transition: opacity 0.2s; */
}
a:active {
  color: #fff;
  color: currentColor;
}
a:hover {
  opacity: 0.8;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  .spin-animation {
    /* display: inline-block; */
    animation: spin 10s linear infinite;
  }
}
.zigzag {
  --zigzag-fill: red;
  /* display: flex;
  align-items: center; */
  /* animation: spin 50s linear infinite;s */
  width: 256px;
  height: 256px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256'> <path d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(16.36deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(32.73deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(49.09deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(65.45deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='red' width='256' style='transform:rotate(81.81deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='#fff' width='256' style='transform:rotate(98.18deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(114.54deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(130.90deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(147.27deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-97 0 256 256' fill='var(--zigzag-fill)' width='256' style='transform:rotate(164.2deg);'> <path  d='M48 240 L48 16 L32 0 L16 16 L16 240 L32 256 Z' /></svg>");
  background-size: 100% 100%;
  /* font-size: 28px; */
  line-height: 256px;
  color: #fff;
  text-align: center;
}
