---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

// Import all images as a Record of promises
const images = import.meta.glob("../gallery/*.jpg");
---

<Layout title="griddy">
  <section>
    {
      Object.entries(images).map(async ([, imageImport]) => {
        const { default: imageUrl } = await imageImport();
        return <Image src={imageUrl} alt="image" width={600} height={600} />;
      })
    }
  </section>
</Layout>

<style>
  section {
    display: grid;
    /* gap: 12px; */
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  img {
    object-fit: cover;
  }
</style>
