---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import Card from "../components/Card.astro";
import LogoCard from "../components/LogoCard.astro";

import { fade } from "astro:transitions";
import { slide } from "astro:transitions";
---

<Layout
  title="J채rna Rosteri"
  description="V책rt utbud av ekologiskt, biodynamiskt och omsorgsfullt rostat kaffe."
  image="/images/Logga-Trans.png"
>
  <main>
    <h1 class="visually-hidden">J채rna Rosteri</h1>
    <nav>
      <menu class="card-links">
        <LogoCard color="pink" hoverBg="var(--color-dark)" />

        <Card
          color="var(--color-light)"
          body="kaffet"
          id="image-0"
          hoverBg="var(--color-brand-2)"
          href="./kaffe2"
          imageSrc="/images/gallery/img1.avif"
          dot="var(--color-dark)"
          class="bla bob active"
        />
        <!-- <Card
          color="var(--color-brand-1)"
          body="n책t."
          id="image-1"
          hoverBg="var(--color-4-dark)"
          href="./"
          imageSrc="/images/gallery/img2.avif"
          dot="var(--color-dark)"
        /> -->
        <Card
          color="var(--color-dark)"
          body="rosteriet"
          id="image-2"
          hoverBg="var(--color-light)"
          href="./om"
          imageSrc="/images/gallery/img3.avif"
          dot="var(--color-3)"
        />
        <Card
          color="var(--color-7)"
          body="galleriet"
          id="image-3"
          hoverBg="var(--color-dark)"
          href="./"
          imageSrc="/images/gallery/img4.avif"
          dot="var(--color-5)"
        />
        <Card
          color="var(--color-4-dark)"
          body="bloggen"
          id="image-4"
          hoverBg="var(--color-6)"
          href="./"
          imageSrc="/images/gallery/img5.avif"
          dot="var(--color-7)"
        />
        <Card
          color="var(--color-6)"
          body="hej"
          id="image-5"
          hoverBg="var(--color-7)"
          href="./kontakt"
          imageSrc="/images/gallery/img6.avif"
          dot="var(--color-4)"
        />
      </menu>
    </nav>
  </main>
  <script src="../js/test.ts"></script>

  <script src="../js/index.ts"></script>
</Layout>
<style is:global>
  .active {
    /* transition: opacity 1.5s; */
  }

  .active img {
    opacity: 0;
    /* transition: opacity 0.3s; */
  }

  .active a {
    opacity: 1;
  }
  /* .bla {
    border: 2px solid black;
  } */

  .visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    /* padding: 0;
    margin: -1px;
    border: 0; */
  }

  .card-links {
    display: grid;
    list-style: none;
    padding: 0;
    /* gap: 0.5rem; */
    grid-template-columns: 1fr;
    min-height: 100svh;
  }
  /* .card-links {
    grid-template-columns: 1fr 1fr;
  }
  .logo-card {
    grid-row: span 1;
  }
  .image-5 {
    grid-column: span 2;
  }
  .image-0 {
    grid-row: span 2;
  } */
  .image-0 {
    /* animation: var(--animation-slide-in-right); */

    & div {
      /* border-radius: var(--radius-blob-1); */
    }
    & div:hover {
      /* -webkit-mask: var(--mask-edge-zig-zag-left);
      -webkit-mask: var(--mask-corner-cut-squares-3);
      -webkit-mask: var(--mask-edge-drip-bottom); */
    }
    & h2 {
      transform: rotate(-45deg);
    }
  }
  .image-1 {
    /* animation: var(--animation-slide-in-up); */
    /* transition: all 2s; */
    & div {
      /* border-radius: var(--radius-drawn-3); */
    }
    & div:hover {
      /* -webkit-mask: var(--mask-edge-zig-zag-left); */
      /* -webkit-mask: var(--mask-corner-cut-squares-2);
      -webkit-mask: var(--mask-corner-cut-circles-3);
      -webkit-mask: var(--mask-edge-drip-bottom); */
    }
  }
  .image-2 {
    /* animation: var(--animation-slide-in-right); */
    /* transition: all 2s; */
    /* & div:hover {
      -webkit-mask: var(--mask-edge-zig-zag-left);
      -webkit-mask: var(--mask-corner-cut-angles-3);
      -webkit-mask: var(--mask-edge-drip-bottom);
    }
    & h2 {
      transform: rotate(45deg);
    } */
    & h2 {
      transform: rotate(-90deg);
    }
  }
  .image-3 {
    /* animation: var(--animation-slide-in-right); */
    /* transition: all 2s; */
    /* & div:hover {
      -webkit-mask: var(--mask-corner-cut-angles-3);
      -webkit-mask: var(--mask-edge-zig-zag-horizontal);
      -webkit-mask: var(--mask-edge-drip-top);
    } */
  }
  .image-4 {
    /* animation: var(--animation-slide-in-right); */
    /* transition: all 2s; */
    /* & div:hover {
      -webkit-mask: var(--mask-corner-cut-squares-2);
      -webkit-mask: var(--mask-corner-cut-circles-3);
      -webkit-mask: var(--mask-edge-drip-top);
    } */
  }
  .image-5 {
    /* animation: var(--animation-slide-in-right); */
    /* transition: all 2s; */
    /* & div:hover {
        -webkit-mask: var(--mask-corner-cut-squares-2);
        -webkit-mask: var(--mask-corner-cut-circles-3);
        -webkit-mask: var(--mask-edge-scalloped-vertical);
        -webkit-mask: var(--mask-edge-drip-top);
      } */
    & h2 {
      /* transform: rotate(-180deg); */
    }
  }
  @media (min-width: 500px) {
    .card-links {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 900px) {
    .card-links {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
