---
import ContentLayout from "../layouts/ContentLayout.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import BackBtn from "../components/BackBtn.astro";
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import VerticalScrollNav from "../components/VerticalScrollNav.astro";
import { fade, slide } from "astro:transitions";

import { Image } from "astro:assets";
import img1 from "../gallery/brygg-mellan.png";
import img2 from "../gallery/mellan.png";
import img3 from "../gallery/Logga-Trans.png";
import img4 from "../gallery/demeter.png";
import img5 from "../gallery/img39.avif";
---

<Layout
  title="Järna Rosteri | kaffe."
  description="Vårt utbud av ekologiskt, biodynamiskt och omsorgsfullt rostat kaffe."
  image="/images/Logga-Trans.png"
>
  <!-- <Fragment slot="head">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </Fragment> -->
  <main>
    <VerticalScrollNav />
    <ContentLayout
      heading="kaffet"
      color="var(--color-light)"
      bg="var(--color-brand-2)"
      transitionName="image-0"
      dot="var(--color-dark)"
    >
      <Carousel />
      <p transition:name="card-image-image-0" class="hero-text">
        Alltid färskt. <br />
        Alltid Ekologiskt. <br /> Alltid Biodynamiskt.
      </p>
    </ContentLayout>
    <section class="process-section flow">
      <h2>Processen</h2>
      <p>
        Beskriv kaffe.... På rosteriet ute i Järna rostar vi varje vecka för att
        alltid leverera nyrostat kaffe. Processen är enkel och allt görs för
        hand. Vi vill inte krångla till det, allt handlar om en bra råvara som
        vi utvecklar och förädlar genom omsorgsfull rostning
      </p>
      <div
        data-aos-offset="200"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        class="img-container"
      >
        <img src="/images/decorations/mugz.avif" alt="#" />
      </div>
      <p>
        Råkaffet vi rostar kommer från <em>ekologiska</em> och <em
          >biodynamiska
        </em>gårdar från hela världen. Biodynamiska kaffegårdar drivs som ett
        slutet kretslopp där man inte odlar mer än vad gården själv orkar bära.
        Allt växtavfall komposteras och används sedan som näring för nya
        planteringar. Och så snurrar det på!
      </p>
      <p>
        Vi har själva ingen butik eller direktförsäljning. Men ni som företag
        kan <a href="./kontakt">beställa</a> från oss till er butik eller direkt
        till er kaffebryggare. Som privatkund finns vårat utbud..blalba.
      </p>
    </section>
    <section class="coffee-section">
      <div class="badge">
        <h2>Utbudet</h2>
        <p class="subtitle">(just nu)</p>
      </div>
      <ProductLayout
        aos="fade-right"
        img1="/images/coffee/esp.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Espresso."
        bg="var(--color-4-dark)"
        color="var(--color-4)"
        patternNumber="2"
        poab={true}
        shapeDividerFill="var(--color-light)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-left"
        img1="/images/coffee/brygg.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Brygg."
        bg="var(--color-6)"
        color="var(--color-3)"
        patternNumber="1"
        poab={true}
        reverse={true}
        shapeDividerFill="var(--color-4-dark)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-left"
        img1="/images/coffee/mellan.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Brygg Mellan."
        bg="var(--color-8)"
        color="var(--color-light)"
        patternNumber="3"
        shapeDividerFill="var(--color-6)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-right"
        img1="/images/coffee/espgrande.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Espresso Grande."
        bg="var(--color-5)"
        color="var(--color-light)"
        patternNumber="4"
        reverse={true}
        shapeDividerFill="var(--color-8)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
    </section>
    <Showcase />
    <section class="flow">
      <h2>You will grow</h2>
      <p>
        Samtliga av de gårdar som vi importerar våra kaffebönor från är
        certifierade enligt demeter.
      </p>
      <p>
        Demeter är ett internationellt nätverk av kontrollorganisationer för
        biodynamisk odling och dess produkter. <a
          href="https://demeter.se/"
          target="_blank"
          rel="noopener noreferrer">demeter.se</a
        >
      </p>
      <a
        href="https://youwillgrow.demeter.se/#mening"
        target="_blank"
        rel="noopener noreferrer">mening</a
      >
    </section>
  </main>
</Layout>

<style>
  .badge {
    background-color: var(--color-4-dark);
    max-width: max-content;
    margin: 0 auto;
    padding: 2rem 4rem;
    margin-bottom: -1.5rem;
    border-radius: 100vw;
    border-radius: var(--radius-blob-3);
    z-index: 100;
    position: relative;
  }
  .img-container {
    /* text-align: center; */
    & img {
      margin: 0 auto;
      width: 200px;
    }
  }
  h2,
  .subtitle {
    text-align: center;
  }
  h2 {
    color: var(--color-brand-2);
    /* font-size: var(--size-fluid-4); */
  }
  .subtitle {
    color: var(--color-light);
    font-size: 0.875rem;
  }
  p {
    margin-inline: auto;
    color: var(--color-dark);
  }

  .process-section {
    padding-block: var(--section-divider);
    padding-inline: 1rem;
  }
  a {
    text-decoration: underline;
    text-decoration-color: var(--color-4-dark);
    text-decoration-thickness: 4px;
  }
  main {
    /* background-color: var(--color-6); */
  }
  section {
    background-color: var(--color-light);
    /* width: var(--wrapper);
    margin: 0 auto; */
    /* background-image: url("/images/gallery/img47.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
    /* padding-block: 5rem; */
  }

  p.hero-text {
    /* text-align: center; */
    grid-column: 2 / -1;
    padding-inline: 2rem;
    font-size: var(--step-1);
    line-height: 1;
    min-width: max-content;
    color: var(--color-light);
    /* font-size: 3rem; */
    /* font-family: "JakobHand", sans-serif; */
    /* align-self: start; */
    /* background-color: black; */
    /* color: lime; */
    /* text-wrap: balance;
    word-wrap: break-word;
    hyphens: auto; */
    @media (min-width: 500px) {
      /* grid-column: 1 / -1; */
    }
    @media (min-width: 1168px) {
      place-self: center;
      grid-column: 3 / -1;
    }
  }
</style>
