---
import Header from "../layouts/Header.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import Cta from "../components/Cta.astro";
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import VerticalScrollNav from "../components/VerticalScrollNav.astro";
import { fade, slide } from "astro:transitions";
import Resellers from "../components/Resellers.astro";
import Footer from "../layouts/Footer.astro";
import TreeAnim from "../components/TreeAnim.astro";
---

<Layout
  title="Järna Rosteri | kaffe."
  description="Vårt utbud av ekologiskt, biodynamiskt och omsorgsfullt rostat kaffe."
  image="/images/coffee/esplabels.avif"
>
  <VerticalScrollNav />
  <Header
    heading="kaffet"
    color="var(--color-light)"
    clipBg="var(--color-brand-2)"
    bg="var(--color-brand-2)"
    transitionName="image-0"
    dot="var(--color-dark)"
    shapeDividerFill="var(--color-brand-2)"
  >
    <Carousel />
    <p transition:name="card-image-image-0" class="hero-text">
      Alltid färskt. <br />
      Alltid Ekologiskt. <br /> Alltid Biodynamiskt.
    </p>
  </Header>

  <main>
    <section class="coffee-section">
      <div class="sticky-badge">
        <h2>Blendz</h2>
        <p class="subtitle">(just nu)</p>
      </div>
      <ProductLayout
        aos="fade-right"
        img1="/images/coffee/esp.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Espresso."
        bg="var(--color-4-dark)"
        color="var(--color-4)"
        patternNumber="2"
        poab={true}
        shapeDividerFill="var(--color-brand-2)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-left"
        img1="/images/coffee/brygg.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Brygg."
        bg="var(--color-6)"
        color="var(--color-3)"
        patternNumber="1"
        poab={true}
        reverse={true}
        shapeDividerFill="var(--color-4-dark)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-left"
        img1="/images/coffee/mellan.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Brygg Mellan."
        bg="var(--color-8)"
        color="var(--color-light)"
        patternNumber="3"
        shapeDividerFill="var(--color-6)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
      <ProductLayout
        aos="fade-right"
        img1="/images/coffee/espgrande.avif"
        img2="/images/brygglabels.avif"
        img3="/images/brygg-info.avif"
        img4="/images/Logga-Trans.png"
        title="Espresso Grande."
        bg="var(--color-5)"
        color="var(--color-light)"
        patternNumber="4"
        reverse={true}
        shapeDividerFill="var(--color-8)"
      >
        På våran resa genom södra Indien hittade vi den biodynamiska gården
        Poabs. Gården ligger högt i bergen och drivs som ett slutet kretslopp
        där allt tas tillvara på. Smaken är fyllig och väl balanserad med
        härligt söta toner. Omsorgsfullt rostat!
      </ProductLayout>
    </section>
    <section class="process-section wrapper flow">
      <div class="custom-shape-divider-top-1726577160">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <h2>Köpa kaffe ?</h2>

      <p>
        Vi har själva ingen butik eller direktförsäljning. Men ni som företag
        kan <a href="./kontakt">beställa</a> från oss till er butik eller direkt
        till er kaffebryggare.
      </p>
      <p>
        För dig som privatkund finns vårt kaffe att hitta hos någon av våra
        återförsäljare.
      </p>
      <p>
        <a href="">Kontakta</a> oss om du har några frågor eller funderingar.
      </p>
      <svg
        class="spin-animation"
        version="1.1"
        id="圖層_1"
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        viewBox="0 0 100 100"
        xml:space="preserve"
        ><path
          d="M20.145 65.44C32.582 89.49 54.101 94.311 68.93 86.642c.335-.173.677-.361 1.027-.565-.032-.139-.057-.288-.09-.426-.075-.31-.16-.61-.241-.913a35.008 35.008 0 0 0-.816-2.64 30.842 30.842 0 0 0-.647-1.658c-.106-.251-.205-.508-.316-.754a29.667 29.667 0 0 0-1.12-2.243c-3.214-5.74-8.302-10.154-13.688-14.828-4.1-3.557-8.338-7.235-11.837-11.642a48.097 48.097 0 0 1-2.382-3.298c-.092-.138-.188-.272-.278-.411a49.348 49.348 0 0 1-1.989-3.359c-.107-.197-.214-.393-.318-.591a51.752 51.752 0 0 1-1.694-3.549c-.089-.206-.175-.416-.262-.625a56.351 56.351 0 0 1-1.455-3.868c-.051-.153-.096-.311-.146-.465a63.24 63.24 0 0 1-1.234-4.29l-.023-.084a73.917 73.917 0 0 1-.965-4.589c-.037-.203-.077-.402-.113-.607a86.805 86.805 0 0 1-.667-4.68c-.032-.275-.064-.549-.094-.827a103.402 103.402 0 0 1-.412-4.943c-.007-.117-.022-.224-.028-.341-13.63 8.376-20.892 27.991-8.997 50.994z"
          fill="var(--color-brand-2)"></path><path
          d="M79.826 34.577C68.406 12.495 50.054 7.069 36.037 11.348l.005.195c.059 1.721.159 3.382.291 5 .018.225.034.453.054.676.14 1.581.319 3.109.53 4.594.032.227.064.456.098.681a71.385 71.385 0 0 0 .916 4.899 60.078 60.078 0 0 0 1.021 3.936c.059.199.121.395.182.592a51.667 51.667 0 0 0 1.285 3.676c.067.169.138.334.206.501a45.854 45.854 0 0 0 1.571 3.46c.065.127.134.249.199.375a41.977 41.977 0 0 0 1.892 3.29c.046.072.097.141.144.214a41.243 41.243 0 0 0 2.269 3.172c3.094 3.897 6.904 7.204 10.939 10.705 5.604 4.863 11.399 9.892 15.212 16.701a36.247 36.247 0 0 1 1.629 3.329c.16.37.297.76.446 1.137.316.799.618 1.611.887 2.45.062.194.145.37.205.566 9.823-9.531 14.313-26.606 3.808-46.92z"
          fill="var(--color-brand-2)"></path>
      </svg>
    </section>

    <Resellers />

    <Showcase />
    <section class="demeter-section flow">
      <div class="wrapper flow">
        <h2>
          You will <span
            data-aos-offset="100"
            data-aos="zoom-in-down"
            data-aos-duration="500"
            class="grow">grow</span
          >
        </h2>
        <TreeAnim />
        <p>
          Samtliga av de gårdar som vi importerar våra kaffebönor ifrån är
          certifierade enligt demeter.
        </p>
        <p>
          <a
            href="https://demeter.se/"
            target="_blank"
            rel="noopener noreferrer">Demeter</a
          > är ett internationellt nätverk av kontrollorganisationer för biodynamisk
          odling.
        </p>
        <p>
          Svenska Demeterförbundet har lanserat kampanjen <b
            ><em>You Will Grow</em></b
          > för att lyfta människorna bakom de många <em>biodynamiska</em> initiativ
          som har tagits i Sverige. Här kan du, bland annat <a
            href="https://youwillgrow.demeter.se/#mening"
            target="_blank"
            rel="noopener noreferrer">läsa mer om oss,</a
          > men också om alla andra <a
            href="https://youwillgrow.demeter.se/"
            target="_blank"
            rel="noopener noreferrer">fantastiska människor</a
          > som på olika sätt bidrar till att skapa <em>mening</em> och en mer <em
            >hållbar värld.</em
          >
        </p>
      </div>
      <img
        class="bike"
        src="/images/decorations/bike-transformed.avif"
        alt=""
      />
    </section>
  </main>
  <Footer bg="var(--color-4-dark)" color="var(--color-brand-2)" />
</Layout>

<style>
  @keyframes moveX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  .bike {
    position: absolute;
    width: 150px;
    bottom: -120px;
    z-index: 100;
    left: 0;
    transform: rotate(89deg);
    animation: moveX 10s;
  }
  .custom-shape-divider-top-1726577160 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1726577160 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 25px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1726577160 .shape-fill {
    fill: var(--color-5);
  }
  svg {
    width: 75px;
    margin-inline: auto;
  }
  /* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-content: center;
    & img {
      width: 100%;
      height: 100%;
    }
  } */
  main {
    /* background-color: var(--color-6); */
    /* width: var(--wrapper);
    margin-inline: auto; */
  }
  section {
    background-color: var(--color-light);
    /* width: var(--wrapper);
    margin: 0 auto; */
    /* background-image: url("/images/gallery/img47.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; */
    /* padding-block: 5rem; */
  }
  .process-section {
    /* padding-block: var(--section-divider);
    padding-inline: 1rem; */
    background-image: url("/fav.svg");
    background-repeat: no-repeat;
    /* background-position: center center; */

    position: relative;
  }
  .process-section,
  .demeter-section {
    padding-block-start: var(--section-divider);
    padding-block-end: var(--section-bottom);
    & h2 {
      font-size: var(--step-3);
      color: var(--color-brand-2);
    }
  }
  .coffee-section {
    background-color: var(--color-brand-2);
  }
  .demeter-section {
    background-color: var(--color-4-dark);
    position: relative;
    & p {
      position: relative;
      color: var(--color-light);
      z-index: 2;
    }
    & h2 {
      position: relative;
      z-index: 2;
    }
  }

  .sticky-badge {
    background-color: var(--color-4-dark);
    color: var(--color-brand-2);
    max-width: max-content;
    margin-inline: auto;
    padding: min(5vw, 3rem);
    margin-bottom: -1.5rem;
    border-radius: 100vw;
    border-radius: var(--radius-blob-3);
    z-index: 1;
    position: sticky;
    top: 5px;
    box-shadow: var(--shadow-elevation-high);
  }

  h2,
  .subtitle {
    text-align: center;
    font-family: var(--font-secondary-heading);
  }

  .subtitle {
    color: var(--color-light);
    font-size: 0.875rem;
  }
  p {
    margin-inline: auto;
    max-width: 65ch;
  }
  .img-container {
    /* text-align: center; */
    & img {
      margin: 0 auto;
      width: 200px;
    }
  }

  a {
    text-decoration: underline;
    text-decoration-color: var(--color-7);
    text-decoration-thickness: 4px;
    display: inline-block;
    background: linear-gradient(
        100deg,
        #ffafd400 1%,
        #ffafd4 2.5%,
        #ffafd480 5.7%,
        #ffafd41a 93%,
        #ffafd4b4 95%,
        #ffafd400 98%
      ),
      linear-gradient(182deg, #ffafd400, #ffafd44d 8%, #ffafd400 15%);
  }
  a:hover {
    color: var(--color-7);
  }

  p.hero-text {
    /* text-align: center; */
    grid-column: 2 / -1;
    padding-inline: 2rem;
    font-size: var(--step-1);
    line-height: 1;
    min-width: max-content;
    color: var(--color-light);
    font-family: "Zimmerman";
    /* font-size: 3rem; */
    /* font-family: "JakobHand", sans-serif; */
    /* align-self: start; */
    /* background-color: black; */
    /* color: lime; */
    /* text-wrap: balance;
    word-wrap: break-word;
    hyphens: auto; */
    @media (min-width: 500px) {
      /* grid-column: 1 / -1; */
    }
    @media (min-width: 1168px) {
      place-self: center;
      grid-column: 3 / -1;
    }
  }
</style>
