---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout
  heading="om."
  title="om."
  color="var(--color-dark)"
  bg="var(--color-light)"
  transitionName="image-2"
>
  <h1>om</h1>
</ContentLayout>
