---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout>
  <main>
    <ContentLayout
      heading="rosteriet"
      title="rosteriet."
      color="var(--color-dark)"
      bg="var(--color-light)"
      transitionName="image-2"
    >
      <div
        data-aos-offset="300"
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        class="img-container"
        class="img-container"
      >
        <img src="/images/gallery/img22.avif" alt="" />
      </div>
      <div class="img-container span">
        <img src="/images/gallery/img23.avif" alt="" />
      </div>
    </ContentLayout>
    <div class="section-wrapper">
      <section>
        <p
          data-aos-offset="300"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          class="hero-text"
        >
          På rosteriet ute i Järna rostar vi varje vecka för att alltid leverera
          nyrostat kaffe. Processen är enkel och allt görs för hand. Vi vill
          inte krångla till det, allt handlar om en bra råvara som vi utvecklar
          och förädlar genom omsorgsfull rostning
        </p>
        <div
          data-aos-offset="300"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out"
          class="img-container"
        >
          <img src="/images/gallery/img36.avif" alt="" />
        </div>
        <div class="img-container">
          <img src="/images/decorations/makers.avif" alt="" />
        </div>
      </section>
    </div>
  </main>
  <script>
    import "aos/dist/aos.css";
    // @ts-ignore
    import AOS from "aos";

    document.addEventListener("astro:page-load", () => {
      AOS.init();
    });
  </script>
</Layout>

<style>
  .span {
    /* grid-column: 1 / -1; */
    display: none;
    @media (min-width: 700px) {
      display: block;
    }
  }
  .img-container {
    max-width: 100%;
    max-height: 100vh;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-wrapper {
    background-color: var(--color-light);
    background-color: #cd2202;
  }
  section {
    width: min(100% - 3rem, 960px);
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    color: var(--color-dark);
    color: var(--color-light);
  }
</style>
