---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="gr">
  <section>
    <div>
      <!-- <h2>he</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut maxime
        officiis recusandae mollitia accusamus quasi, facilis quos et sapiente!
      </p> -->
      <!-- <img src="/images/gallery/img2.jpg" alt="" /> -->
    </div>
    <div></div>
    <div></div>
    <div>
      <!-- <img src="/images/gallery/img2.jpg" alt="" /> -->
    </div>
    <div></div>
    <div></div>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    min-height: 100vh;
    /* max-width: 1900px; */
    /* margin-inline: auto; */
    /* grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(200px, 50%, 500px), 1fr)
    ); */
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  section img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.125s ease-in-out;
  }
  div {
    /* position: relative; */
    background-color: green;
    /* width: auto; */
    /* min-height: 33vh; */
    /* aspect-ratio: 1; */
    /* height: 100%; */
    /* overflow: hidden; */
  }
  section div:hover img {
    opacity: 0; /* Example hover effect */
  }
  /* div:hover {
    opacity: 0.2;
    background-blend-mode: color-burn;
  } */
  div:nth-child(1) {
    background-color: #ff8901;
    /* grid-column: span 2; */
  }
  div:nth-child(2) {
    background-color: #fffe00;
  }
  div:nth-child(3) {
    background-color: #7100ff;
  }
  div:nth-child(4) {
    background-color: #00ffa3;
  }
  div:nth-child(5) {
    background-color: #ff0000;
  }
  div:nth-child(6) {
    background-color: #000000;
  }
</style>
