<a href="#" onclick="window.history.back(); return false;">
  <img src="/images/back.png" alt="Go back to the previous page" />
</a>

<style>
  a {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
  }

  img {
    width: 40px;
  }
  @media (max-width: 500px) {
    img {
      width: 30px;
    }
  }
  /* @media (width > 1800px) {
    a {
      left: 200px;
    }
  } */
</style>
