---
import Btn from "../components/Btn.astro";
---

<div class="cta">
  <Btn text="beställ" />
</div>

<style>
  .cta {
    /* padding: 5rem;
    background-color: var(--color-8); */
    /* margin-block-start: 5rem;
    margin-block-end: 10rem; */
    text-align: center;
  }
</style>
