<section class="showcase">
  <div class="img-container">
    <img src="/images/coffee/esp.avif" alt="" />
  </div>
  <div class="img-container">
    <img src="/images/coffee/esp.avif" alt="" />
  </div>
  <div class="img-container">
    <img src="/images/coffee/esp.avif" alt="" />
  </div>
  <div class="img-container">
    <img
      data-aos-offset="200"
      data-aos="fade-down"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      src="/images/coffee/espgrande.avif"
      alt=""
    />
  </div>
</section>

<style>
  .showcase {
    background-image: url("/images/andy-wang.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(0, 170, 255);
    background-blend-mode: luminosity;
    /* padding: 8rem; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
